
@{
    Layout = "_Layout";
}

<h1>Welcome to the Animal Shelter!</h1>
<p>@Html.ActionLink("See all Animals", "Index", "AnimalShelter")</p>

<p>@Html.ActionLink("Add an animal", "Create", "AnimalShelter")</p>